<footer>
    <p>&copy; 2024 API de Harry Potter. Todos los derechos reservados.</p>
    <p>Desarrollado por [Jannire/Marcos]</p>
    <a href= 'https://github.com/Hades-Dark-X/proyecto-final-fullstack-2.git'>Repositorio</a>
</footer>
