<footer>
    <p>&copy; 2023 API de Harry Potter. Todos los derechos reservados.</p>
    <p>Desarrollado por [Jannire/Marcos]</p>
    <p>Fuentes de datos: [Lista de fuentes de datos utilizadas]</p>
    <a href="https://github.com/Hades-Dark-X/pryecto-final-fullstack-2.git">Repositorio</a>
</footer>
